@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

/* -------------------CAROUSAL-------------------------- */
.innerCarousalBox {
  width: 100vw;
  height: 65rem;
}
.rec.rec-slider-container {
  padding: 0;
  margin: 0;
}
.rec.rec-arrow {
  position: absolute;
  z-index: 4;
  color: black;
  font-size: 3rem;
  background-color: #d5d5d5;
}
.rec.rec-arrow-right {
  right: 30px;
}
.rec.rec-arrow-left {
  left: 30px;
}
.button {
  height: 4.4rem;
  width: 20rem;
  background-color: #535c68;
  border-style: none;
  color: white;
}
.landingDiv {
  position: absolute;
  top: 1200px;
  left: 170px;
  z-index: 4;
  width: 65rem;
}
.landingDiv h1 {
  font-size: 4.3rem;
  font-weight: 500;
  color: white;
  line-height: 1.5;
  margin-bottom: 2rem;
}
/* ------------------ ImageTitleBox --------------------------- */
.imageTitleBoxConatiner {
  width: 90vw;
  display: flex;
  flex-direction: column;
}
.imageTitleBoxConatiner h2 {
  font-weight: 400;
  font-size: 3.2rem;
  margin: 3rem 0;
}
.boxDiv {
  width: 32rem;
  margin: 0 1rem;
  display: inline-block;
}
.boxDiv .imageBox {
  height: 35rem;
  background-color: gray;
}
.boxDiv h5 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.boxDivOuter {
  overflow: auto;
  white-space: nowrap;
}
.boxDivOuter::-webkit-scrollbar {
  display: none;
}
.boxDivOuter {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.titleDiv {
  overflow-wrap: break-word !important;
  height: 10rem;
  white-space: normal;
  padding: 0 0.5rem;
}
